.sassy-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	height: 300px;
	width: 300px;
	background-color: rgb(251, 252, 236);
	border-radius: 10px;
	padding: 40px;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
	margin: 0px 0px 100px 0px;
}

.sassy-quote {
	height: 300px;
	width: 300px;
	padding-right: 50px;
}
.sassy-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sassy-text {
	font-size: 20px;
	margin-bottom: 20px;
}

.sassy-author {
	font-size: 1rem;
	margin-bottom: 50px;
}

#new-quote {
	background: teal;
	border: none;
	color: white;
	padding: 0.7rem 1rem;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

#new-quote:hover {
	opacity: 0.9;
}

/********BUTTON Animation */
.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*---------------- Media Queries ----------------------------*/
/*----TABLETS----*/
@media only screen and (min-width: 43em) {
	.sassy-box {
		grid-area: footer;
		margin-left: 10rem;
		margin-right: auto;
		width: 500px;
		margin: 0px 0px 250px 0px;
		border: none;
	}

	.sassy-quote {
		height: 600px;
		width: 400px;
		padding-right: 0;
	}
	.sassy-button {
		justify-content: center;
		align-items: center;
	}

	.sassy-text {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}

	.sassy-author {
		font-size: 1rem;
		margin-bottom: 50px;
	}
}

/*----DESKTOP (smaller)----*/
@media only screen and (min-width: 62em) {
}

/*----DESKTOP (larger)----*/
@media only screen and (min-width: 82em) {
}
