.quote-box-home {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 99%;
	width: 99%;
	padding: 10px;
	margin: 10px;
}

.emp-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	height: 99%;
	margin: 0;
	width: 95%;
	background-color: rgb(251, 252, 236);
	border-radius: 10px;
	padding: 10px;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.emp-quote {
	padding: 5px;
	width: 90%;
	height: 90%;
}

.emp-text {
	font-size: 1rem;
	width: 90%;
	margin-bottom: 10px;
}

.emp-author {
	font-size: 1rem;
	margin-bottom: 20px;
}

.emp-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	width: 80%;
	margin: 0px;
}

#new-quote {
	background: teal;
	border: none;
	color: white;
	padding: 0.7rem 1rem;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

#new-quote:hover {
	opacity: 0.9;
}

/********BUTTON Animation */
.hvr-grow-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
	box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
