
.edit-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 10px;
}

.edit-button{
    margin: 10px;
    color: rgba(88, 61, 24, 0.822);
}
