.mantra-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: rgb(255, 205, 1);
  background: linear-gradient(
    48deg,
    rgba(255, 205, 1, 0.5242471988795518) 0%,
    rgba(255, 206, 4, 0.5242471988795518) 67%,
    rgba(241, 220, 131, 0.5886729691876751) 88%
  );
  padding: 20px;
  padding-bottom: 160px;
  width: 100vw;
}

.mantra-heading {
  margin: 30px;
  font-family: "Laila", serif;
}
.mantra-page-head {
  color: rgb(165, 87, 42);
  font-size: 4rem;
}

.mantra-pic-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 30px 10px;
}
.mantra-pic {
  border-radius: 50%;   
    height: 300px;
  
}


/*---------------- Media Queries ----------------------------*/
/*----TABLETS----*/
@media only screen and (min-width: 43em) {
	.mantra-list-container{
	  width: 100vw;
	  }
  }
  
  
  /*----DESKTOP (smaller)----*/
  @media only screen and (min-width: 62em) {
	.mantra-list-container{
	  width: 100vw;
	  }
  }
  
  
  /*----DESKTOP (larger)----*/
  @media only screen and (min-width: 62em) {
	.mantra-list-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10% 10% 10%;
		grid-template-areas: 
		  "header header "
		  "qu list "
		  "pic list";
	   gap: 20px 10px;
		 justify-items: flex-start;
		 align-items: start;
		 width: 100vw;
		 margin-bottom: 100px;
		}

        .mantra-heading{
            grid-area: header;
            margin-left: 180px;
        }

        .mantra-pic{
            grid-area: pic;
            height: 500px;
            margin-left: 30px;
            margin-top: 50px;
        }
        #mantra-card-container{
            grid-area: list;
            width: 400px;
        }



    }
