.dealbreaker-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: rgba(255, 170, 42, 0.479);
  text-align: center;
  width: 100vw;
  padding-bottom: 150px;
 
}

.deal-page-head {
  margin: 40px 0 30px 0;
  font-family: "Laila", serif;
  font-size: 3.5rem;
  color: rgba(255, 81, 0, 0.733);
}

.deal-pic-container{
display: flex;
justify-content: center;
align-items: center;

}
.dealbreaker-pic {
  border-radius: 50%;
 height: 330px;
  margin-bottom: 30px;
}
