.spiral-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background: rgba(131, 94, 218, 0.87);
  padding: 20px;
  padding-bottom: 160px;
  width: 100vw;
}

.spiral-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  font-family: "Laila", serif;
}

.spiral-page-head {
	text-align: center;
  color: rgb(61, 42, 165);
  font-size: 3.5rem;
}

.spiral-pic {
  border-radius: 50%;
  height: 300px;
  width: 90%;
  margin: 20px;
  margin-bottom: 50px;
}


/*---------------- Media Queries ----------------------------*/
/*----TABLETS----*/
@media only screen and (min-width: 43em) {
	.spiral-list-container{
	  width: 100vw;
	  }
  }
  
  
  /*----DESKTOP (smaller)----*/
  @media only screen and (min-width: 62em) {
	.spiral-list-container{
	  width: 100vw;
	  }
  }
  
  
  /*----DESKTOP (larger)----*/
  @media only screen and (min-width: 62em) {
	.spiral-list-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10% 10% 10%;
		grid-template-areas: 
		  "header header "
		  "qu list "
		  "pic list";
	   gap: 20px 10px;
		 justify-items: flex-start;
		 align-items: start;
		 width: 100vw;
		 margin-bottom: 100px;
		}



.spiral-heading{
	
	grid-area: header;
}

.spiral-pic{
	grid-area: pic;
	height: 500px;
	margin-left: 30px;
	margin-top: 50px;
}
.Quotes-big-container{
	grid-area: qu;
height: auto;
margin-left: 50px;
width: 500px;
}


.aff-card-container{
	grid-area: list;
width: 400px;
	/* justify-content: center; */
	
	
}
#af-card-container{
	width: 400px;
	text-align: center;
	display: flex;
	justify-content: center;
	

}

.a-card{
	width: 50px;
	justify-content: flex-start;
	display: flex;
}
.a-header{
	width: 300px;
	justify-content: flex-start;
	display: flex;
}
.af-delete{
	justify-content: flex-start;
	display: flex;
}

.form{
text-align: center;
}

.edit-container{
	display: flex;
	justify-content: flex-start;

	

}

  }