.metime-list-containers {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  padding-bottom: 200px;

}

.metime-page-head {
  margin: 50px 0 20px 0;
  font-family: "Laila", serif;
  color: rgb(187, 88, 88);
  font-size: 4rem;
}
.metime-pic-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.metime-pic {
  border-radius: 50%;
  width:100%;
  padding: 20px;
  margin-bottom: 30px;
}


/*---------------- Media Queries ----------------------------*/
/*----TABLETS----*/
@media only screen and (min-width: 43em) {
	.metime-list-containers{
	  width: 100vw;
	  }
  }
  
  
  /*----DESKTOP (smaller)----*/
  @media only screen and (min-width: 62em) {
	.metime-list-containers{
	  width: 100vw;
	  }
  }
  
  
  /*----DESKTOP (larger)----*/
  @media only screen and (min-width: 62em) {
	.metime-list-containers{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10% 10% 10%;
		grid-template-areas: 
		  "header header "
		  "qu list "
		  "pic list";
	   gap: 20px 10px;
		 justify-items: flex-start;
		 align-items: start;
		 min-width: 100vw;
		 /* margin-bottom: 100px; */
		}

        .metime-heading{
            grid-area: header;
            margin-left: 100px;
        }

        .metime-pic{
            grid-area: pic;
            height: 500px;
            width: 500px;
            margin-top: 50px;
        }
       #met-card{
         width: 200px;
        display: flex;
          align-items: flex-start;
          margin-bottom: 20px;
        }
       .metime-card-container{
            grid-area: list;
           width: 200px;
	          /* display: flex;
            text-align: center;
	          justify-content: flex-start; */
            /* display: flex; */
            /* justify-content: flex-start; */
            /* flex-flow: column ; */
        }
        #add-metime-container{
        width: 300px;
       
          /* display: flex;
          justify-content: flex-start;
          align-items: flex-start; */
        }

       #edit-metime-container{
         /* display: flex;
          justify-content: flex-start;
          flex-flow: column wrap; */
          /* display: flex;
          justify-content: flex-start;
          align-items: flex-start; */

          
    }
  }