.metime-list-container {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  padding-bottom: 200px;
 
}

.metime-page-head {
  margin: 50px 0 20px 0;
  font-family: "Laila", serif;
  color: rgb(187, 88, 88);
  font-size: 4rem;
}
.metime-pic-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.metime-pic {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
}
