.edit-metime-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 10px;
    
}

.edit-metime-btn{
    margin-top: 10px;
    color: rgba(199, 124, 124, 0.747);
}

