a {
	
	color: rgb(100, 94, 94);
	text-decoration: none;
	font-family: Helvetica, sans-serif;
}
a:hover {
	color: rgb(135, 135, 155);
}

.navbar{
    display:flex;
    justify-content: center;
    border-top: 2px grey solid;
}

li {
	list-style: none;
	margin: 10px;
}

ul {
	display: flex;
	flex-flow: row wrap;
}

.navlink {
}

.Logo {
    /* border: solid; */
	margin: .5rem;
	padding: 5px;
	border-radius: 35%;
}

#NavBar {

	background-color: rgb(1, 158, 158);
}
