
.af-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column ;
    margin-top: 50px;
   text-align: center;
   width: 100vw;
  
  
}

.a-card{
    
    text-align: center;
    padding: 10px;
    width: 80%;
    background-color:rgba(255, 255, 255, 0);
    border: none;
   
}

.a-header{
 background-color:rgba(255, 255, 255, 0.301);
 border-radius: 25px;
 font-family: 'Laila', serif;
 color: rgba(34, 61, 182, 0.774);

}
.a-text{
    height: auto;
    width: 300px;
    padding: 20px  20px 20px;
    background-color:rgba(255, 255, 255, 0.664);
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.af-delete{
    background-color: rgba(40, 93, 241, 0.24);
    border-radius: 50%;
    color: rgb(176, 171, 245);
    margin: 10px 0 20px 0;
}