#GameBoard {
  position: relative;
  margin: auto;
  border-style: solid;
  border-radius: 10px;
}

#GameBoard .Block {
  position: absolute;
  z-index: 10;
}

#GameBoard #GameOver {
  text-align: center;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

#GameBoard #Score {
  position: relative;
  top: 105%;
  text-align: center;
  font-weight: bold;
}

#GameBoard #GameOverText {
  color: #836c49;
  font-weight: bold;
  text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
  color: #85add3;
  font-weight: bold;
}

.Block {
  border-radius: 5px;
}

/* Control Buttons */
@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

.controls {
  margin-top: 80%;
  display: flex;
  order: 2;
  justify-content: center;
  padding: 5px;
}

.control-button {
  width: 50px;
  height: 50px;
  background-color: #e4af73;
  margin: 0;
  font-weight: bold;
  color: #f0ece2;
  display: flex;
  align-items: space-between;
  cursor: pointer;
  transition: s background-color ease, 0.5s color ease;
  box-shadow: 0px 5px 0px #c2bb94;
  text-align: center;
  padding: 10px;
}

.control-button:hover {
  background-color: #ecd3a5;
  color: #c0a795;
}

.control-button i {
  margin: 0 auto;
}

@media (min-height: 860px) {
  .controls {
    display: none;
  }
}

@media (min-height: 1000px) and (max-height: 1400px) {
  .controls {
    margin-top: 80%;
    display: flex;
    order: 2;
    justify-content: center;
    padding: 5px;
  }
}

@media (min-width: 1500px) {
  .controls {
    display: none;
  }
}

/* @media (min-width: 275px) and (min-height: 655px) {
  #GameBoard {
    width: 75px;
  }
} */
