
.SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100%;
  background-color: rgba(27, 189, 175, 0.541);
 
}

.white{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
  font-family: "Helvetica", sans-serif;
}

/*---------------- Media Queries ----------------------------*/
/*----TABLETS----*/
@media only screen and (min-width: 43em) {
  #nav-mobile {
    /* background-color: aliceblue; */
    padding: 0px;
    margin: 0px;
  }

  .SignUp {
    background: aliceblue;
  }
}

/*----DESKTOP (smaller)----*/
@media only screen and (min-width: 62em) {
  .SignUp {
    background: goldenrod;
  }
}

/*----DESKTOP (larger)----*/
@media only screen and (min-width: 82em) {
  .SignUp {
    background: aquamarine;
  }
}

