* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: salmon;
}

#quote-box {
	background: white;
	width: 40rem;
	margin: 10rem auto;
	padding: 3rem;
	border-radius: 5px;
}

#text {
	font-size: 2rem;
	margin-bottom: 1.5rem;
}

#author {
	display: flex;
	justify-content: flex-end;
	font-size: 1.2rem;
}

#new-quote {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}
