.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}


.divide{
    height: 400px;
}

.d-block{
    height: 400px;
    width: 400px;
    border-radius: 30%;
    margin-bottom: 100px;
   
}

.carousel-container{
    width: 400px;
    border-radius: 30%;
    margin-bottom: 100px;
}

.square-mantra{
    height: 400px;
    background: rgb(255,205,1);
    border-radius: 30%;
}
.square-MeTime{
    height: 400px;
    background-color: pink;
    border-radius: 30%;  
}
.square-dealbreaker{
    height: 400px;
    background-color: rgba(255, 170, 42, 0.479);
    border-radius: 30%;  
}
.square-spiraling{
    height: 400px;
    background: rgba(131, 94, 218, 0.87);
    border-radius: 30%;  
}

/* / */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background: rgb(255,205,1);
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }